*.o
*.log
less
a
t
eless
doxygen/*
trace.out
*.html
*.out
test/results
test/*/results
*.gcno
*.gcda
*.gcov
my.info
test/my.info
test/test_ifile
*~
test/gmock
test/gtest
test/code_v1
test/debug.hpp
test/line.hpp
test/charset.hpp
test/output.hpp
test/cvt.hpp
test/search.hpp
test/defines.hpp
test/pckeys.hpp
test/lsystem.hpp
test/prompt.hpp
test/decode.hpp
test/jump.hpp
test/ch.hpp
test/ttyin.hpp
test/pattern.hpp
test/lesskey.hpp
test/funcs.hpp
test/lglob.hpp
test/tags.hpp
test/cmdbuf.hpp
test/input.hpp
test/mark.hpp
test/less.hpp
test/optfunc.hpp
test/edit.hpp
test/cmd.hpp
test/option.hpp
test/ifile.hpp
test/regexp.hpp
test/opttbl.hpp
test/utils.hpp
test/screen.hpp
test/brac.hpp
test/os.hpp
test/linenum.hpp
test/position.hpp
test/signal.hpp
test/filename.hpp
test/command.hpp
test/ifile.cpp
test/forwback.hpp

test/*/gmock
test/*/gtest
test/*/debug.hpp
test/*/line.hpp
test/*/charset.hpp
test/*/output.hpp
test/*/cvt.hpp
test/*/search.hpp
test/*/defines.hpp
test/*/pckeys.hpp
test/*/lsystem.hpp
test/*/prompt.hpp
test/*/decode.hpp
test/*/jump.hpp
test/*/ch.hpp
test/*/ttyin.hpp
test/*/pattern.hpp
test/*/lesskey.hpp
test/*/funcs.hpp
test/*/lglob.hpp
test/*/tags.hpp
test/*/cmdbuf.hpp
test/*/input.hpp
test/*/mark.hpp
test/*/less.hpp
test/*/optfunc.hpp
test/*/edit.hpp
test/*/cmd.hpp
test/*/option.hpp
test/*/ifile.hpp
test/*/regexp.hpp
test/*/opttbl.hpp
test/*/utils.hpp
test/*/screen.hpp
test/*/brac.hpp
test/*/os.hpp
test/*/linenum.hpp
test/*/position.hpp
test/*/signal.hpp
test/*/filename.hpp
test/*/command.hpp
test/*/ifile.cpp
test/*/forwback.hpp
test/*/ch.cpp
test_ifile
test_ch